<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" rel="home" href="/" title="Brand" style="padding-top: 10px; padding-bottom: 10px">
            <img style="height: 30px;" src="<%= image_url('logo.png') %>" >
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul id="nav-right" class="nav navbar-nav navbar-right">
            <li><span><%= current_user.name%>，你好。</span></li>
            <li><%= link_to '登出', destroy_user_session_path, :method=>:delete,  class: "btn btn-blue" %></li>
          </ul>
        </div>
      </div>
    </div>
