  <div class="panel panel-default">
    <div class="panel-heading">资讯管理</div>
    <div class="panel-body">
      <div class="list-group">
        <a href="/news/lists" class="list-group-item">资讯一览</a>
        <a href="/news/add" class="list-group-item">写资讯</a>
        <a href="/appointment/category" class="list-group-item">资讯分类管理</a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">课程教师管理</div>
    <div class="panel-body">
      <div class="list-group">
        <a href="/appointment/course" class="list-group-item">课程管理</a>
        <a href="/appointment/image" class="list-group-item">图片管理</a>
        <a href="/appointment/entry" class="list-group-item">报名管理</a>
        <a href="/appointment/student" class="list-group-item">学生管理</a>
      </div>
    </div>
  </div>

