<div class="well">
   <%= form_for @label, html: {class: 'form-horizontal'} do |f|%>
    <fieldset>
      <legend>资讯分类添加</legend>
      
      <div class="form-group">
        <label for="CourseName" class="col-lg-2 control-label">名称</label>
        <div class="col-lg-10">
          <%=f.text_field :name, class: 'form-control' %>
          <%=f.hidden_field :id, value: @label.id %>
        </div>
      </div>

      <div class="form-group">
        <label for="CategoryBoderLeftColor" class="col-lg-2 control-label">类别区分</label>
        <div class="col-lg-10">
          <%=f.select :category,{"卒業年度"=>"gradyear","カテゴリー"=>"genre", "業界"=>"industry"} %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">确认修改</button>
        </div>
      </div>
    </fieldset>
     <% end %>
</div>
