<div class="header-banner-courses">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-message">
    <span class="course-header-title">七联・就职</span><hr class="course-header-separate-line">
    <span class="course-header-sub-title">
      也许是日本最专业就职咨询团队
    </span>
      </div>
      <div class="col-md-12" style="padding-top:20px">
          <a href="#PriceTable" class="btn btn-success"> 18卒暑期实习课程报名中</a>
      </div>
    </div>
  </div>
</div><!-- end of 标题 -->
<div class="container-fluid">
    <div class="row course-section-padding course-intersection-background">
        <div class="col-md-4 course-service-padding">
            <!-- 最牛的就职平台 -->
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-success"></i>
                          <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                </div>    
                <div class="media-body">
                    <h4 class="media-heading">最活跃的就职交流平台</h4>
                    <p class="course-service-description">“你需要的信息，或许都在这里。” 超过400人的社会人交流群; 300人以上的15卒内定前辈; 500人以上，持续增加的17卒就活生群组。在这里你可以与大家交流就职情报，听取前辈的就职经验，从此就职的路上不再是孤军奋战。</p>
                </div>                            
            </div>
        </div>
        <!-- 最酷的课程体验 -->
        <div class="col-md-4 course-service-padding">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-danger"></i>
                          <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span> 
                </div>     
                <div class="media-body">
                    <h4 class="media-heading">最酷炫的课程体验</h4>
                    <p class="course-service-description">用最主流的项目管理方式来感受全新的就职体验吧! 线下课程，为你细致分析各大业界; 来自大手公司的前辈的TED演讲，让你真正了解职场生态圈; 模拟面试体验最真实的面试环境，公司HR为你现场讲解录用规则; 线上学习体验最效率的项目管理软件，告别杂乱无章的日程表，就职从此井井有条.</p>
                </div>                                 
            </div>
        </div>
        <!-- 最强的老师团队 -->
        <div class="col-md-4 course-service-padding">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-warning"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span> 
                </div>
                <div class="media-body">
                    <h4 class="media-heading">最了解你的教师团队</h4>
                    <p class="course-service-description">“offer ＝ 真实的自我＋戏剧的加工＋演员的职业修养”，来自某位老师的戏言。拿到了各界TOP公司的内定的老师们将教会你如何避开就职盲区，掌握在万人中抓住面试官的独特风格，带你深度解读自我分析和企业分析的方法，由内而外，从根本上解决你的就职问题.</p>
                </div>         
            </div>
        </div>                        
    </div><!-- end of row -->
<!-- end of 基本服务介绍 -->
<!-- 过度的图片 -->

<!-- 课程表 -->
    <!-- SECTION1: 课程Schedule -->                
    <div class="row course-section-padding ">
        <!-- TabBar: Every Week Schedule --> 
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 course-title-position">
            <span class="course-title-layout">学习计划</span>
            <span class="course-sub-title-layout">我们的征途，是星辰大海</span>
        </div>
        <!-- 课程表 -->
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <div>
                  <!-- Nav tabs -->
                  <ul class="nav qilian-nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#week0" aria-controls="week0" role="tab" data-toggle="tab">试听课程</a></li>                  
                    <li role="presentation"><a href="#week1" aria-controls="week1" role="tab" data-toggle="tab">2016.06.05 | 第一周</a></li>
                    <li role="presentation"><a href="#week2" aria-controls="week2" role="tab" data-toggle="tab">2016.06.12 | 第二周</a></li>
                    <li role="presentation"><a href="#week3" aria-controls="week3" role="tab" data-toggle="tab">2016.06.19 | 第三周</a></li>
                    <li role="presentation"><a href="#week4" aria-controls="week4" role="tab" data-toggle="tab">2016.06.26 | 第四周</a></li>
                    <li role="presentation"><a href="#week5" aria-controls="week5" role="tab" data-toggle="tab">2016.07.03 | 企业参观</a></li>
                  </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="week0">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- 试听宣讲A -->
                        <div class="col-md-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading text-center">试听宣讲A</div>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-building-o" aria-hidden="true"></i></span> 场地</td>
                                            <td class="col-md-9 col-xs-8">沐刃经济塾</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> 地址</td>
                                            <td class="col-md-9 col-xs-8">東京都豊島区南池袋２丁目32−12 4F</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></i> 日期</td>
                                            <td class="col-md-9 col-xs-8">2016-05-28（周六）</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 时间</td>
                                            <td class="col-md-9 col-xs-8">P.M. 6:00 - 9:00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p>
                                                现场为大家讲解日本就职活动及实习的重要性：日本就职的形式是什么？夏季实习应该如何准备；为大家详细介绍七联本次实习课程，实际模拟小组讨论，感受真实体验；更有内定前辈到场与大家进行交流，分享就职干货经验。
                                                 </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 试听宣讲A -->
                        <div class="col-md-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading text-center">试听宣讲B</div>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-building-o" aria-hidden="true"></i></span> 场地</td>
                                            <td class="col-md-9 col-xs-8">另行通知</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> 地址</td>
                                            <td class="col-md-9 col-xs-8">另行通知</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></i> 日期</td>
                                            <td class="col-md-9 col-xs-8">2016-05-29（周日）</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 时间</td>
                                            <td class="col-md-9 col-xs-8">另行通知</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p>
                                                现场为大家讲解日本就职活动及实习的重要性：日本就职的形式是什么？夏季实习应该如何准备；为大家详细介绍七联本次实习课程，实际模拟小组讨论，感受真实体验；更有内定前辈到场与大家进行交流，分享就职干货经验。
                                                 </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 宣讲会 -->
                        <div class="col-md-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading text-center"><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span> 试听宣讲C</div>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-building-o" aria-hidden="true"></i></span> 场地</td>
                                            <td class="col-md-9 col-xs-8">七联</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> 地址</td>
                                            <td class="col-md-9 col-xs-8">東京都文京区音羽１丁目８−８ 4F</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-calendar" aria-hidden="true"></i></span></i> 日期</td>
                                            <td class="col-md-9 col-xs-8">2016-06-05（周日）</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-3 col-xs-4"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 时间</td>
                                            <td class="col-md-9 col-xs-8">P.M. 11:00 - 12:30</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p>
                                                现场为大家讲解日本就职活动及实习的重要性：日本就职的形式是什么？夏季实习应该如何准备；为大家详细介绍七联本次实习课程，实际模拟小组讨论，感受真实体验；更有内定前辈到场与大家进行交流，分享就职干货经验。
                                                 </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 报名网址 -->
                        <div class="col-md-6 col-md-offset-3 ">
                            <a href="https://goo.gl/ShhqTH" class="btn btn-lg btn-block  btn-success course-btn-more">报名试听宣讲</a>    
                        </div>
                    </div>
                </div><!-- end of 宣讲会 -->


                <div role="tabpanel" class="tab-pane fade" id="week1">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:00 - 12:30</td>
                                    <td>免费试听</td>
                                    <td style="color:#e74c3c">宣讲会</td>
                                    <td>Vincent / Franck</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>12:30 - 13:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                
                                <tr>
                                    <td>3</td>
                                    <td>13:00 - 15:00</td>
                                    <td>共通课程</td>
                                    <td>ES对策 & 自我分析</td>
                                    <td>Vincent</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>15:00 - 15:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                      
                                <tr>
                                    <td>5</td>
                                    <td>15:30 - 17:30</td>
                                    <td>业界对策</td>
                                    <td>外资金融业界对策</td>
                                    <td>Franck</td>
                                </tr>                        
                                <tr>
                                    <td>6</td>
                                    <td>17:30 - 21:00</td>
                                    <td>个人咨询</td>
                                    <td>个人咨询／ES修改／WebTest</td>
                                    <td>QiLian</td>
                                </tr>                                                          
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week1-->              
                </div>
                <div role="tabpanel" class="tab-pane fade" id="week2">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week2-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:30 - 13:30</td>
                                    <td>共通课程</td>
                                   <td>GD技巧</td>
                                    <td>Vincent</td>
                                </tr>
                                 <tr>
                                    <td>2</td>
                                    <td>13:30 - 14:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>14:30 - 16:30</td>
                                    <td>共通课程</td>
                                    <td>GD模拟面试</td>
                                    <td>Vincent / Franck</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>16:30 - 17:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                          
                                <tr>
                                    <td>5</td>
                                    <td>17:00 - 19:00</td>
                                    <td>业界对策</td>
                                    <td>外资咨询业界对策</td>
                                    <td>Franck</td>
                                </tr>                          
                                <tr>
                                    <td>6</td>
                                    <td>19:00 - 21:00</td>
                                    <td>个人辅导</td>
                                    <td>个人咨询／ES修改／WebTest</td>
                                    <td>QiLian</td>
                                </tr>             
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week1-->              
                </div>


                <div role="tabpanel" class="tab-pane fade" id="week3">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>13:00 - 15:00</td>
                                    <td>共同课程</td>
                                    <td>フェルミ推定 & Case Study</td>
                                    <td>Enzoin</td>
                                </tr>          
                                <tr>
                                    <td>2</td>
                                    <td>15:00 - 15:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                                
                                <tr>
                                    <td>3</td>
                                    <td>15:30 - 16:30</td>
                                    <td>共同课程</td>
                                    <td>フェルミ推定 & Case Study模拟</td>
                                    <td>Enzoin</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>16:30 - 17:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                                          
                                <tr>
                                    <td>5</td>
                                    <td>17:00 - 19:00</td>
                                    <td>共同课程</td>
                                    <td>个人面试对策+群面对策+OBOG访问</td>
                                    <td>Vivian</td>
                                </tr>                          
                                <tr>
                                    <td>6</td>
                                    <td>19:00 - 21:00</td>
                                    <td>个人辅导</td>
                                    <td>个人咨询／ES修改／WebTest</td>
                                    <td>QiLian</td>
                                </tr>             
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week3-->              
                </div>


                <div role="tabpanel" class="tab-pane fade" id="week4">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week4-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:30 - 13:30</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（1）</td>
                                    <td>All Teachers</td>
                                </tr>               
                                <tr>
                                    <td>2</td>
                                    <td>13:30 - 14:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                           
                                <tr>
                                    <td>3</td>
                                    <td>14:00 - 16:00</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（2）</td>
                                    <td>All Teachers</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>16:00 - 16:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                                          
                                <tr>
                                    <td>5</td>
                                    <td>16:30 - 18:30</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（3）</td>
                                    <td>All Teachers</td>
                                </tr>                          
                                <tr>
                                    <td>6</td>
                                    <td>18:30 - 22:00</td>
                                    <td>其他</td>
                                    <td>OBOG访问・交流会</td>
                                    <td>OBOG</td>
                                </tr>              
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week4-->              
                </div>


                <div role="tabpanel" class="tab-pane fade" id="week5">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10:00 - 12:00</td>
                                    <td>企业参观</td>
                                    <td>Office Tour1</td>
                                    <td>QiLian</td>
                                </tr>               
                                <tr>
                                    <td>2</td>
                                    <td>12:00 - 13:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                           
                                <tr>
                                    <td>3</td>
                                    <td>13:30 - 16:00</td>
                                    <td>企业参观</td>
                                    <td>Office Tour2</td>
                                    <td>QiLian</td>
                                </tr>            
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week4-->              
                </div>                                     
            </div>
        </div><!-- end of col-md-12-->
    </div><!-- end of TabBar: Every Week Schedule --><!-- end of 课程表-->

</div>

<!-- 过度，照片墙 -->
<div class="header-banner-courses_summerIntern">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-message">
        <span class="course-header-title">七联・场地</span><hr class="course-header-separate-line">
        <span class="course-header-sub-title">
          東京都文京区音羽１丁目８−８ THE NEWORLD BLD. 4F
        </span>
      </div>
    </div>
  </div>
</div><!-- end of 标题 -->

<!-- SECTION2: 讲师介绍 -->
<div class="container">
    <div class="row course-section-padding">
        <div class="col-lg-12 col-md-12 course-title-position">
            <span class="course-title-layout">七联・老师</span>
            <span class="course-sub-title-layout">We are more than professional</span>
        </div>


        <!-- Vincent -->
        <div class="col-md-6">
            <div class="media course-teacher-section-layout">
                <div class="pull-left">
                    <!-- 头像:128 x 128px -->
                    <img src="http://qilian.jp/image/qilian_teacher_vincent.png" class="media-object pull-xs-left"> 
                </div>
                <!-- 个人介绍 -->
                <div class="media-body">
                    <h5 class="media-heading">Vincent | 日系IT公司N社</h5>
                    <span class="label label-primary">基础课程担当</span>
                    <span class="label label-danger">金融业界课程担当</span>
                    <span class="label label-info">模拟面试担当</span>
                    <span class="label label-success">ES修改担当</span>
                    <p class="course-teacher-detail">Vincent修士阶段来日，背景最接近于广大中国留学生。本科到修士经历了专业理转文，最终毕业于早稻田大学经济系。目前在大手通信公司N社本部做技术开发工作。就职活动中，es，面试经历了日本的金融, IT, 通信, 能源, maker, 甚至是零售业。并从中收获了，三菱东京UFJ银行, 野村证券, 新生银行, recruit, IBM, 日本综研等8家offer。上课时严肃和风趣并存，用最接近于广大留学生的视角进行授课，本着用热情感动每一个学生，期待每一个像他一样 “平凡”背景的中国留学生获得自己心仪的offer！</p>
                </div>    
            </div>    
        </div>


        <!-- Vivian -->
        <div class="col-md-6">
            <div class="media course-teacher-section-layout">
                <div class="pull-left">
                    <!-- 头像:128 x 128px -->
                    <img src="http://qilian.jp/image/qilian_teacher_vivian.png" class="media-object pull-xs-left">
                </div>
                    <!-- 个人介绍 -->
                <div class="media-body">
                    <h5 class="media-heading">Vivian | 日系咨询公司M社</h5>
                    <span class="label label-primary">基础课程担当</span>
                    <span class="label label-primary">基础课程担当</span>
                    <span class="label label-danger">咨询业界课程担当</span>
                    <span class="label label-info">模拟面试担当</span>                   
                    <p class="course-teacher-detail">Vivian, 拥有北京大学日语及经济学双学士学位, 修士就读于东京大学经济学研究科。面试了包含咨询, 金融, 商社以及制造业等多个业界, 这其中包括了著名的BCG, 麦肯锡, 德勤等咨询企业, 也面试了比如日兴SMBC, 三菱摩根斯坦利等日系证券企业。突破多个难关企业, 在近百小时的面试时间中积累了丰富的经验。学术上致力于研究企业经营问题, 与多家企业经营者有深度交流, 洞察日本企业的经营走向。Vivian认为, 在就职活动中就职是个双方理解的过程, 就职生亦可反客为主, 控制面试节奏, 最大程度上凸显自己的优点, 让对方心服口服。Vivian运用“知己知彼, 百战百胜”之理, 带你深度解读自我分析和企业分析的方法, 由内而外, 从根本上解决你的就职问题。</p>
                </div>    
            </div>    
        </div>


        <!-- Franck -->
        <div class="col-md-6">
            <div class="media course-teacher-section-layout">
                <div class="pull-left">
                    <!-- 头像:128 x 128px -->
                    <img src="http://qilian.jp/image/qilian_teacher_franck.png" class="media-object pull-xs-left"> 
                </div>
                    <!-- 个人介绍 -->
                <div class="media-body">
                    <h5 class="media-heading">Franck | 外资咨询公司P社</h5>
                    <span class="label label-danger">咨询课程担当</span>
                    <span class="label label-danger">Maker课程担当</span>
                    <span class="label label-danger">商社课程担当</span>
                    <span class="label label-info">模拟面试担当</span>                   
                    <p class="course-teacher-detail">
                        Franck毕业于埼玉大学应用化学专业。现在某知名战略咨询公司工作。出生于上海,由于家庭原因从小在日本和中国两种文化下长大,在日本展开中日友好草根交流,对日本国情,生活习惯都非常了解。Franck的就职可以说是打破了传统理工专业的思维定式，不拘泥于技术职，向各个行业发起了挑战。参加过的实习遍布了金融(日本生命,高盛等),咨询(普华永 道,野村综合研究所等),制造业(富士通)。面试经验更是覆盖了80%以上的外资投行以及咨询公司。斩获了被称为业界最顶端的战略咨询公司已经投资银行的内定。丰富的实习以及选考经验造就了Franck最大的武器，就是知道如何抓住面试官的心，让他对你死心塌地。就职是一场战役，希望每一位同学都能去享受这一个提高自己的过程，毛主席说过不打无准备之仗。知己知彼，胜利一定属于你!</p>
                </div>    
            </div>    
        </div>


        <!-- Enzoin -->
        <div class="col-md-6">
            <div class="media course-teacher-section-layout">
                <div class="pull-left">
                    <!-- 头像:128 x 128px -->
                    <img src="http://qilian.jp/image/qilian_teacher_enzoin.png" class="media-object pull-xs-left"> 
                </div>
                    <!-- 个人介绍 -->
                <div class="media-body">
                    <h5 class="media-heading">Enzoin | 外资咨询公司P社</h5>
                    <span class="label label-primary">基础课程担当</span>
                    <span class="label label-warning">フェルミ推定课程担当</span>
                    <span class="label label-info">Case Study面试担当</span>
                    <span class="label label-info">模拟面试担当</span>                   
                    <p class="course-teacher-detail">Enzoin毕业于早稻田大学创造理工学，修士。小学待过北京，大学读在南京，现在飘在东京。无论求学还是就职，都经历过极其坎坷的的道路，比如为了入学给27个教授发过mail，终面踢倒伞桶惨遭out，连自行车都丢过两辆……人生到此简直就是杜鹃啼血，但凭借其小强精神依旧顽强的活着，是大家最好的励志教材。参加过外资金融，日资咨询，日资IT的实习，收获过外资咨询，日资证券，外资保险和一家极其冷门的世界500强的offer。因为曾经的辩论队和学生会外联的经历，逻辑缜密，幽默风趣，脸皮奇厚，擅长忽悠。面试和GD偏向于野路子，但有独特而又有效的技巧。希望用自己微薄的力量，和大家一度过眼前漫长而又艰涩的苟且，迎接属于自己诗和远方。</p>
                </div>    
            </div>    
        </div>                        
    </div><!-- end of 讲师介绍 --><!-- end of 讲师介绍 -->
</div><!-- end of container -->

<!-- SECTION4 他说 -->
<div class="container-fluid">
    <div class="row course-section-padding course-intersection-background">
        <div class="col-lg-12 col-md-12 course-title-position">
            <span class="course-title-layout">他・说</span>
            <span class="course-sub-title-layout">时光不老，我们不散！</span>
        </div>
        <div class="text-center col-md-6 col-md-offset-3">
          <h3><span class="slogan">
            我们是七联伐木累！</span>
          </h3>            
        </div>
    </div><!-- end of SECTION4 他说 -->
</div><!-- end of container-fluid -->

<!-- SECTION5 PRICE TABLE -->
<div class="container">
<!--  价格 -->
    <div class="row course-section-padding">
        <div class="col-lg-12 col-md-12 course-title-position">
            <span class="course-title-layout" id="PriceTable">课程服务</span>
            <span class="course-sub-title-layout">选择最合适，而非最适合</span>
        </div>
        <!-- 就职共同课程 -->
        <div class="col-md-4">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">就职共通课程</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>基础理论讲座</strong> 10小时</li>
                    <li class="list-group-item"><strong>实战模拟练习</strong> 10小时</li>
                    <li class="list-group-item"><strike><strong>2大业界分析</strong> 4小时</strike></li>
                    <li class="list-group-item"><strong>ES修改</strong> 免费</li>
                    <li class="list-group-item"><strong>WebTest</strong> 预约做题</li>
                    <li class="list-group-item"><strong>CRM对应</strong></li>
                    <li class="list-group-item"><a href="https://goo.gl/FFe9nA" class="btn btn-block  btn-success course-btn-more">我要报名</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 全套课程 -->
        <div class="col-md-4">
            <div class="panel panel-danger text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">全套课程 <sup style="top:0px"><span class="label label-danger">最人气</span></sup></h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>基础理论讲座</strong> 10小时</li>
                    <li class="list-group-item"><strong>实战模拟练习</strong> 10小时</li>
                    <li class="list-group-item"><strong>2大业界分析</strong> 4小时</li>
                    <li class="list-group-item"><strong>ES修改</strong> 免费</li>
                    <li class="list-group-item"><strong>WebTest</strong> 预约做题</li>
                    <li class="list-group-item"><strong>CRM对应</strong></li>
                    <li class="list-group-item"><a href="https://goo.gl/FFe9nA" class="btn btn-block  btn-danger course-btn-more">我要报名</a>
                    </li>
                </ul>
            </div>
        </div>        
        <!-- 返金 -->
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">优惠制度</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">宣讲会前报名 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">宣讲会报名 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">组队报名 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">前辈推荐 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">分享转发 <strong> 3000日元/5次</strong></li>
                    <li class="list-group-item">分享转发 <strong> 5000日元/10次</strong></li>
                    <li class="list-group-item"><a href="http://qilian.jp/news/379" class="btn btn-block btn-info course-btn-more">查看详情</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- /. end of 价格 -->
</div><!-- end of /.container -->
