<div class="header-banner-courses">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-message">
    <span class="course-header-title">七联・就职</span><hr class="course-header-separate-line">
    <span class="course-header-sub-title">
      也许是日本最专业就职咨询团队
    </span>
      </div>
      <div class="col-md-12" style="padding-top:20px">
          <a href="http://qilian.jp/news/356" class="btn btn-danger"> 第三期日资课程详细介绍</a>
      </div>
    </div>
  </div>
</div><!-- end of 标题 -->
<div class="container-fluid">
    <div class="row course-section-padding course-intersection-background">
        <div class="col-md-4 course-service-padding">
            <!-- 最牛的就职平台 -->
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-success"></i>
                          <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                </div>    
                <div class="media-body">
                    <h4 class="media-heading">最活跃的就职交流平台</h4>
                    <p>“你需要的信息，或许都在这里。” 超过300人的社会人交流群; 300人以上的15卒内定前辈; 500人以上，持续增加的17卒就活生群组。在这里你可以与大家交流就职情报，听取前辈的就职经验，从此就职的路上不再是孤军奋战。</p>
                </div>                            
            </div>
        </div>
        <!-- 最酷的课程体验 -->
        <div class="col-md-4 course-service-padding">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-danger"></i>
                          <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span> 
                </div>     
                <div class="media-body">
                    <h4 class="media-heading">最酷炫的课程体验</h4>
                    <p>用最主流的项目管理方式来感受全新的就职体验吧! 线下课程，为你细致分析各大业界; 来自大手公司的前辈的TED演讲，让你真正了解职场生态圈; 模拟面试体验最真实的面试环境，公司HR为你现场讲解录用规则; 线上学习体验最效率的项目管理软件，告别杂乱无章的日程表，就职从此井井有条.</p>
                </div>                                 
            </div>
        </div>
        <!-- 最强的老师团队 -->
        <div class="col-md-4 course-service-padding">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-warning"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span> 
                </div>
                <div class="media-body">
                    <h4 class="media-heading">最了解你的教师团队</h4>
                    <p>“offer ＝ 真实的自我＋戏剧的加工＋演员的职业修养”，来自某位老师的戏言。拿到了各界TOP公司的内定的老师们将教会你如何避开就职盲区，掌握在万人中抓住面试官的独特风格，带你深度解读自我分析和企业分析的方法，由内而外，从根本上解决你的就职问题.</p>
                </div>         
            </div>
        </div>                        
    </div><!-- end of row -->
<!-- end of 基本服务介绍 -->
<!-- 过度的图片 -->

<!-- 课程表 -->
    <!-- SECTION1: 课程Schedule -->                
    <div class="row course-section-padding ">
        <!-- TabBar: Every Week Schedule --> 
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 course-title-position">
            <span class="course-title-layout">课程表</span>
            <span class="course-sub-title-layout">我们的征途，是星辰大海</span>
        </div>
        <!-- 课程表 -->
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <div>
                  <!-- Nav tabs -->
                  <ul class="nav qilian-nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#week1" aria-controls="week1" role="tab" data-toggle="tab">2016.04.17 | 第一周</a></li>
                    <li role="presentation"><a href="#week2" aria-controls="week2" role="tab" data-toggle="tab">2016.04.24 | 第二周</a></li>
                    <li role="presentation"><a href="#week3" aria-controls="week3" role="tab" data-toggle="tab">2016.05.08 | 第三周</a></li>
                    <li role="presentation"><a href="#week4" aria-controls="week4" role="tab" data-toggle="tab">2016.05.15 | 第四周</a></li>
                    <li role="presentation"><a href="#week5" aria-controls="week5" role="tab" data-toggle="tab">2016.05.22 | 第五周</a></li>
                  </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="week1">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10:30 - 12:30</td>
                                    <td style="color:#e74c3c">试听课程</td>
                                    <td>ES对策 & 自我分析</td>
                                    <td>Vincent</td>
                                </tr>                          
                                <tr>
                                    <td>2</td>
                                    <td>12:30 - 13:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                            
                                <tr>
                                    <td>3</td>
                                    <td>13:00 - 15:00</td>
                                    <td>业界对策</td>
                                    <td>IT业界分析</td>
                                    <td>Kuma</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>15:00 - 15:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>        
                                <tr>
                                    <td>5</td>
                                    <td>15:30 - 17:30</td>
                                    <td>业界对策</td>
                                    <td>金融业界分析(1)：证券+资产管理</td>
                                    <td>Vincent</td>
                                </tr>                        
                                <tr>
                                    <td>6</td>
                                    <td>17:30 - 18:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>18:00 - 20:00</td>
                                    <td>业界对策</td>
                                    <td>金融业界分析(2)：银行+保险</td>
                                    <td>Vincent</td>
                                </tr>                                                           
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week1-->              
                </div>
                <div role="tabpanel" class="tab-pane fade" id="week2">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week2-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:30 - 13:30</td>
                                    <td>共通课程</td>
                                    <td>ES对策（2）+ ES实战</td>
                                    <td>Waterbear</td>
                                </tr>                          
                                <tr>
                                    <td>2</td>
                                    <td>13:30 - 14:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>14:00 - 16:00</td>
                                    <td>业界对策</td>
                                    <td>业界分析方法论 & 咨询业界分析</td>
                                    <td>Vivian</td>
                                </tr>                          
                                <tr>
                                    <td>4</td>
                                    <td>16:30 - 16:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                          
                                <tr>
                                    <td>5</td>
                                    <td>16:30 - 18:30</td>
                                    <td>业界对策</td>
                                    <td>广告业界研究</td>
                                    <td>Y.R</td>
                                </tr>                          
                                <tr>
                                    <td>7</td>
                                    <td>18:30 - </td>
                                    <td>个人辅导</td>
                                    <td>咨询／ES修改／WebTest</td>
                                    <td>-</td>
                                </tr>             
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week1-->              
                </div>
                <div role="tabpanel" class="tab-pane fade" id="week3">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:00 - 14:00</td>
                                    <td>业界对策</td>
                                    <td>制造业BtoB & 制造业BtoC & 7大商社选考流程</td>
                                    <td></td>
                                </tr>                          
                                <tr>
                                    <td>2</td>
                                    <td>14:00 - 16:00</td>
                                    <td>共同课程</td>
                                    <td>GD技巧 + GD模拟面试(1)</td>
                                    <td>Vincent</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>16:00 - 16:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                                          
                                <tr>
                                    <td>4</td>
                                    <td>16:30 - 18:30</td>
                                    <td>模拟实战</td>
                                    <td>GD模拟练习(2)</td>
                                    <td>Vincent</td>
                                </tr>                          
                                <tr>
                                    <td>5</td>
                                    <td>18:30 - </td>
                                    <td>个人辅导</td>
                                    <td>咨询／ES修改／WebTest</td>
                                    <td>-</td>
                                </tr>             
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week1-->              
                </div>
                <div role="tabpanel" class="tab-pane fade" id="week4">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:30 - 13:30</td>
                                    <td>共同课程</td>
                                    <td>个面+群面技巧</td>
                                    <td>Vivian</td>
                                </tr>               
                                <tr>
                                    <td>2</td>
                                    <td>13:30 - 14:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                           
                                <tr>
                                    <td>3</td>
                                    <td>14:00 - 16:00</td>
                                    <td>共同课程</td>
                                    <td>群面模拟面试 & OBOG访问 & 面试礼仪</td>
                                    <td>Vivian</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>16:00 - 16:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                                          
                                <tr>
                                    <td>5</td>
                                    <td>16:30 - 18:30</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（1）</td>
                                    <td>Vivian + Vincent</td>
                                </tr>                          
                                <tr>
                                    <td>6</td>
                                    <td>18:30 - </td>
                                    <td>个人辅导</td>
                                    <td>咨询／ES修改／WebTest</td>
                                    <td>-</td>
                                </tr>             
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week4-->              
                </div>
                <div role="tabpanel" class="tab-pane fade" id="week5">
                    <div class="col-lg-12 table-responsive" style="padding-top:20px; padding-bottom: 20px">
                        <!-- Schedule-Week1-->
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <td>Index</td>
                                    <td>Time</td>
                                    <td>Category</td>
                                    <td>Subject</td>
                                    <td>Teacher</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11:30 - 13:30</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（2）</td>
                                    <td>All Teachers</td>
                                </tr>               
                                <tr>
                                    <td>2</td>
                                    <td>13:30 - 14:00</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                           
                                <tr>
                                    <td>3</td>
                                    <td>14:00 - 16:00</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（3）</td>
                                    <td>All Teachers</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>16:00 - 16:30</td>
                                    <td>-</td>
                                    <td>休息</td>
                                    <td>-</td>
                                </tr>                                                          
                                <tr>
                                    <td>5</td>
                                    <td>16:30 - 18:30</td>
                                    <td>模拟实战</td>
                                    <td>个人模拟面试（5）</td>
                                    <td>All Teachers</td>
                                </tr>                          
                                <tr>
                                    <td>6</td>
                                    <td>18:30 - </td>
                                    <td>其他</td>
                                    <td>大型OBOG访问・交流会</td>
                                    <td>OBOG</td>
                                </tr>             
                            </tboby>
                        </table>                          
                    </div><!-- end Schedule-Week4-->              
                </div>                                     
            </div>
        </div><!-- end of col-md-12-->
    </div><!-- end of TabBar: Every Week Schedule --><!-- end of 课程表-->
    <!-- SECTION2: 讲师介绍 -->
    <div class="row course-section-padding course-intersection-background">
        <div class="col-lg-12 col-md-12 course-title-position">
            <span class="course-title-layout">Teachers</span>
            <span class="course-sub-title-layout">We are more than professional</span>
        </div>
        <!-- GROUP 1 -->
        <div class="panel-group col-md-4 course-" id="accordion" role="tablist" aria-multiselectable="true">
              <!--  Vivian介绍 -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingVivian">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#vivian-intro" aria-expanded="false" aria-controls="collapseTwo">vivian | 日系咨询公司M社
                    </a>
                  </h4>
                </div>
                <div id="vivian-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingVivian">
                  <div class="panel-body">
                    Vivian, 拥有北京大学日语及经济学双学士学位, 修士就读于东京大学经济学研究科。面试了包含咨询, 金融, 商社以及制造业等多个业界, 这其中包括了著名的BCG, 麦肯锡, 德勤等咨询企业, 也面试了比如日兴SMBC, 三菱摩根斯坦利等日系证券企业。突破多个难关企业, 在近百小时的面试时间中积累了丰富的经验。学术上致力于研究企业经营问题, 与多家企业经营者有深度交流, 洞察日本企业的经营走向。Vivian认为, 在就职活动中就职是个双方理解的过程, 就职生亦可反客为主, 控制面试节奏, 最大程度上凸显自己的优点, 让对方心服口服。Vivian运用“知己知彼, 百战百胜”之理, 带你深度解读自我分析和企业分析的方法, 由内而外, 从根本上解决你的就职问题。
                  </div>
                </div>
              </div>

              <!--  Vincent介绍 -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingVincent">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#vincent-intro" aria-expanded="false" aria-controls="collapseThree">vincent | 日系IT公司N社
                    </a>
                  </h4>
                </div>
                <div id="vincent-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingVincent">
                  <div class="panel-body">
                    Vincent, 本科毕业于国内普通的二本大学, 现在早稻田大学读经济。由于自身原因, 就职活动进行了两年。两年在没有参加过任何的实习, 没有过任何的交换留学经验, 以及其余的高大上的人生经历的状态下, 拿下了除大手通信公司N社外, 还有三菱东京UFJ银行, 野村证券, 新生银行, recruit, IBM, 日本综研等公司。两年间, 100篇以上ES, 近120场面试经历遍布日本的金融, IT, 通信, 能源, maker, 甚至是零售业。vincent的人生背景最接近于来日本留学的广大同学, 在没有光鲜的背景下如何将自己的朴实无华的人生经历讲的真实感人。如何最短时期内了解自己, 了解公司, 最效率的取得内定有独特的见解。帮助貌似“平凡”的你, 在就职中展示“不凡”的你, 将自己的能量发挥到极致, 拿到心仪的offer!
                  </div>
                </div>
              </div>

              <!--  Franck -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingFranck">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#franck-intro" aria-expanded="false" aria-controls="collapseFour">Franck | 外资咨询公司P社
                    </a>
                  </h4>
                </div>
                <div id="franck-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFranck">
                  <div class="panel-body">
                    Franck, 是教师队伍中唯一的一位本科生, 目前就读于埼玉大学应用化学专业。出生于上海, 由于家庭原因从小在日本和中国两种文化下长大, 在日本展开中日友好草根交流, 对日本国情, 生活习惯都非常了解。Franck的就职可以说是打破了传统理工专业的思维定式, 不拘泥于技术职, 向各个行业发起了挑战。参加过的实习遍布了金融(日本生命, 高盛等), 咨询(普华永 道, 野村综合研究所等), 制造业(富士通)。面试经验更是覆盖了80%以上的外资投行以及咨询公司。并在大三斩获普华永道思略特内定。丰富的实习以及选考经验造就了Franck最大的武器, 就是知道如何抓住面试官的心, 让他对你死心塌地。就职是一场战役, 希望每一位同学都能去享受这一个提高自己的过程, 毛主席说过不打无准备之仗。知己知彼, 胜利一定属于你！
                  </div>
                </div>
              </div>
        </div>
        <!-- GROUP 2 -->
        <div class="panel-group col-md-4" id="accordion" role="tablist" aria-multiselectable="true">
              <!--  Kuma -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingKuma">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#kuma-intro" aria-expanded="false" aria-controls="collapseFive">Kuma | 外资IT公司C社
                    </a>
                  </h4>
                </div>
                <div id="kuma-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingKuma">
                  <div class="panel-body">
                    Kuma, 修士毕业于庆应义塾大学, 拥有他人不可想象的五所大学经历：武汉大学、华中科技大学、北海道大学、庆应义塾大学、华盛顿大学交换留学。他参与过上到宇宙下到深海的研究课题, 发表过4篇国际论文。暑假期间, Kuma参加了IBM咨询部门、C社、以及日挥的实习。并在4月获得外资IT大手C社、IBM、Docomo的内定。他曾参加P＆G、JP Morgan、Docomo、NTT communications、Google、IBM等超大手公司的面试, 覆盖几乎所有业界, ES通过率更达到9成以上。Kuma擅长完全的个性化就职, 有很多奇葩的技巧区别自我。Kuma的面试可以总结为【傲娇】! 曾有5分钟令考官叹服, 直接进入下一轮的经历。
                  </div>
                </div>
              </div> 

              <!--  Y.R -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingYR">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#yr-intro" aria-expanded="false" aria-controls="collapseSix">Y.R | 日系广告公司Y社
                    </a>
                  </h4>
                </div>
                <div id="yr-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingYR">
                  <div class="panel-body">
                    Y.R, 现就职于日本最大因特网媒体从事广告销售。2015年4月应届毕业生入职。就职期间采用了集中精力, 发挥自己特长, 速战速绝的战术, 所以只投了广告业界。给学生的一句话：全方位业界研究, 时刻把握业界最新新闻,  用你的故事打动对方!
                  </div>
                </div>
              </div>           

              <!--  Waterbear -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingWaterBear">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#waterbear-intro" aria-expanded="false" aria-controls="collapseSeven">Waterbear | 外资咨询公司P社
                    </a>
                  </h4>
                </div>
                <div id="waterbear-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWaterBear">
                  <div class="panel-body">
                    Water, 本科毕业于日本地方国立大学, 在号称经济专攻的环境下杂学无数, 导致修士进学东京大学综合文化研究科继续其莫名其妙的文系研究。特长就是没有特长, 或者全是特长。实习经历遍布制造业（宝洁CEO Challenge）, 百货业(三越伊势丹）, IT咨询业(IBM JAPAN）, 保险业（损保日本兴亚新加坡实习）, 金融业（高盛投资调查部门, 三菱东京UFJ摩根士丹利私人银行）, 咨询业（普华永道, 埃森哲）。虽对企业了解不如其他讲师, 但由于其丰富的个人经历与奇葩的个人魅力, 选考突破率貌似挺高, 其中GD为100％。Water开过网店, 做过翻译, 有簿记三级, 明明是只英语弱还厚颜无耻的爱讲, Water对各位就职同学的建议就是, 趁年轻多出丑, 有一个厚脸皮和强壮的神经, 不怕没有好内定。
                  </div>
                </div>
              </div>                        
        </div>
        <!-- GROUP 3 -->
        <div class="panel-group col-md-4" id="accordion" role="tablist" aria-multiselectable="true">
              <!--  Sven -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSven">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#sven-intro" aria-expanded="false" aria-controls="collapseEight">Sven | 外资管理咨询公司A社
                    </a>
                  </h4>
                </div>
                <div id="sven-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSven">
                  <div class="panel-body">
                    Sevn, 2011年国内本科院校毕业之后直接来日本工作。2011年-2013年就职于日资互联网媒体公司R社, 从事过新事业企划, 项目管理, 广告销售等职务。 2013年转职去了一家外资咨询公司从事管理咨询的工作至今。2012年在从事广告销售期间, 他作为13人销售队伍中唯一的非日本籍员工独占销售业绩第一长达数月。在2013年至今从事管理咨询的工作中, 他作主要为零售行业在日本市场提供市场和销售战略规划以及运营方案和为日本高科技企业提供海外战略规划
                  </div>
                </div>
              </div>

              <!--  ROB -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingRob">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#rob-intro" aria-expanded="false" aria-controls="collapseNine">Rob | 日系金融公司N社
                    </a>
                  </h4>
                </div>
                <div id="rob-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRob">
                  <div class="panel-body">
                    Rob, 修士就读于庆应义塾大学大学院。在大学院期间, 曾经经过学校推荐, 参加荷兰代尔夫特工科大学的交换留学。也是因为这次交换留学, 没有时间参加所谓的暑期实习, 甚至自己人生第一场就职说明会也只能安排在12月底。但正是因为这种看起来起步晚, 无正规实习经验的危机感, 使自己更加努力, 在3月26日拿到了第一家大手石油公司内定, 并在4月初拿到了大手证券N社内定。Rob虽然担当金融部分的讲师, 但对能源、化学、商社、海运、物流、咨询等业界也有深刻理解。更重要的是, Rob通过自己经验总结出来的3个月速度就活方法, 能够帮助你迅速的找到就活的自我, 就职的自我, 以及未来的自我。
                  </div>
                </div>
              </div>

              <!--  JOHNNY -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingJohnny">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#johnny-intro" aria-expanded="false" aria-controls="collapseTen">Johnny | 日系Maker公司C社
                    </a>
                  </h4>
                </div>
                <div id="johnny-intro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingJohnny">
                  <div class="panel-body">
                    Johhny, 本科毕业于西安交通大学能源与动力工程学院, 现就读于东京大学机械工学。在有限的日语能力和贫乏的实习经历下, 如何通关简历, 打开面试大门？身佩“学校推荐”的双刃剑, 工科生又应如何规划就活之路？纷繁复杂的非IT类制造类企业中, 又隐藏了多少不为人知的绩优股？如果你正疑惑着上述问题, 他也许能帮你拨云见月, 明确自己的最佳答案。情报先行, 知己知彼。绕过金融或咨询, 我们也能收获高年收内定。
                  </div>
                </div>
              </div>            
        </div>      
    </div><!-- end of 讲师介绍 --><!-- end of 讲师介绍 -->
</div><!-- end of container-fluid -->

<div class="container">
<!--  价格 -->
    <div class="row course-section-padding">
        <div class="col-lg-12 col-md-12 course-title-position">
            <span class="course-title-layout">课程费用</span>
            <span class="course-sub-title-layout">选择最合适，而非最适合</span>
        </div>
        <!-- 就职共同课程 -->
        <div class="col-md-3">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">就职共通课程</h3>
                </div>                
                <ul class="list-group">
                    <li class="list-group-item"><strong>基础理论讲座</strong> 10小时</li>
                    <li class="list-group-item"><strong>实战模拟练习</strong> 10小时</li>
                    <li class="list-group-item"><strike><strong>6大业界分析</strong> 13小时</strike></li>
                    <li class="list-group-item"><strong>ES修改</strong> 免费</li>
                    <li class="list-group-item"><strong>WebTest</strong> 预约做题</li>
                    <li class="list-group-item"><strong>就职PM</strong></li>
                    <li class="list-group-item"><a href="https://goo.gl/Ae4ohv" class="btn btn-block  btn-success course-btn-more">我要报名</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 业界分析课程 -->
        <div class="col-md-3">
            <div class="panel panel-warning text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">业界研究课程</h3>
                </div>           
                <ul class="list-group">
                    <li class="list-group-item"><strike><strong>基础理论讲座</strong> 10小时</strike></li>
                    <li class="list-group-item"><strike><strong>实战模拟练习</strong> 10小时</strike></li>
                    <li class="list-group-item"><strong>每个业界</strong> 2小时</li>
                    <li class="list-group-item"><strike><strong>ES修改</strong> 免费</strike></li>
                    <li class="list-group-item"><strike><strong>WebTest</strong> 预约做题</strike></li>
                    <li class="list-group-item"><strike><strong>就职PM</strong></strike></li>
                    <li class="list-group-item"><a href="https://goo.gl/Ae4ohv" class="btn btn-block btn-warning course-btn-more">我要报名</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 全套课程 -->
        <div class="col-md-3">
            <div class="panel panel-danger text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">全套课程 <sup style="top:0px"><span class="label label-danger">最人气</span></sup></h3>
                </div>                
                <ul class="list-group">
                    <li class="list-group-item"><strong>基础理论讲座</strong> 10小时</li>
                    <li class="list-group-item"><strong>实战模拟练习</strong> 10小时</li>
                    <li class="list-group-item"><strong>6大业界分析</strong> 13小时</li>
                    <li class="list-group-item"><strong>ES修改</strong> 免费</li>
                    <li class="list-group-item"><strong>WebTest</strong> 预约做题</li>
                    <li class="list-group-item"><strong>就职PM</strong></li>
                    <li class="list-group-item"><a href="https://goo.gl/Ae4ohv" class="btn btn-block  btn-danger course-btn-more">我要报名</a>
                    </li>
                </ul>
            </div>
        </div>        
        <!-- 返金 -->
        <div class="col-md-3">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">优惠制度</h3>
                </div>               
                <ul class="list-group">
                    <li class="list-group-item">宣讲会前报名 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">宣讲会报名 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">组队报名 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">前辈推荐 <strong> 5000日元返金</strong></li>
                    <li class="list-group-item">分享转发 <strong> 3000日元/5次</strong></li>
                    <li class="list-group-item">分享转发 <strong> 5000日元/10次</strong></li>
                    <li class="list-group-item"><a href="http://qilian.jp/news/356" class="btn btn-block btn-info course-btn-more">查看详情</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- /. end of 价格 -->
</div><!-- end of /.container -->