<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              个人主页
              <small>(<%= current_user.name %>)</small>
          </h1>
      </div>
  </div>

  <div class="row">
    <!-- Menu -->
    <div class="col-lg-2">
      <%= render partial: 'common/mypage_right_side'%>
    </div><!-- /Menu -->

    <!-- Main -->
    <div class="col-lg-7">
      <%= render partial: 'common/userinfo', locals: { user: @user }%>
    </div><!-- /Main -->

    <!-- Right recommend -->
    <div class="col-lg-3">
    	
    </div><!-- /Right recommend -->

  </div>
  <!-- /.Row -->
  
