<qilian-header></qilian-header>
<qilian-footer></qilian-footer>
<div class='app-body'>
  <div class='app-content' style="background-color: #16A086">
    <div ng-if="events.length" class="topic_box">
      <div class="topics" ng-repeat="event in events">
        <div class="topic topic_line" ng-click="gotoEvent(event.event.id)">
          <img ng-src={{event.event.image.url}} class="avatar pull-left">
          <div class="title">
            {{event.event.title}}
          </div>
          <div class="title">
            {{event.event.description}}
          </div>
          <div class="title" style="padding-left: 5%">
            <i class="fa fa-calendar"></i>{{event.event.timestart |date:'MM/dd/yyyy h:mma'}}~{{event.event.timeend |date:'h:mma'}}<br>
            <i class="fa fa-money"></i> {{event.event.fee}}&nbsp;&nbsp;&nbsp;
            <i class="fa fa-users"></i>{{event.users.length}}/{{event.event.limit}}
               <span ng-if="event.applied">(已报名)</span>
          </div>
         </div>
       </div>
     </div>
     <img src='/not_yet.jpg' ng-if="!events.length" style="heigh: 100%">
   </div>
  </div>
</div>
