<div class="navbar navbar-app navbar-absolute-top">
  <div class="navbar-brand navbar-brand-center" yield-to="title">
    <span>{{title}}</span>
  </div>
  <div class="btn-group" yield-to="navbarAction" style="padding-top: 10%;" ng-if="enableBack">
    <a ng-click="goBack()"><span class="fa fa-chevron-left pull-left" style="vertical-align: middle">{{history}}</span></a>
  </div>
  <div class="btn-group pull-right" yield-to="navbarAction" style="padding-top: 25px; padding-right: 10px">
    <img src="{{user.image.thumb.url}}" ng-click="gotoMypage()" class="img-circle">
    <img ng-if = "!user.image.thumb.url" src="/NoPic.png" ng-click="gotoMypage()" style="width: 20px;height: 20px" class="img-circle">
  </div>
</div>

