<div class="navbar navbar-app navbar-absolute-top">
  <div class="navbar-brand navbar-brand-center" yield-to="title">
    <span>{{title}}</span>
  </div>
  <div class="btn-group" yield-to="navbarAction" style="padding-top: 10%;" ng-if="enableBack">
    <a ng-click="goBack()"><span class="fa fa-chevron-left pull-left" style="vertical-align: middle">{{history}}</span></a>
  </div>
  <div class="btn-group pull-right" yield-to="navbarAction" style="padding-top: 20px;">
    <a href="/mypage" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i>我的主页</a>
  </div>
</div>

