<qilian-header></qilian-header>
<qilian-footer></qilian-footer>
<div class='app-body' ng-cloak>
  <div class='app-content' style="background-color: #16A086">
    <div class="scrollable">
      <div class="scrollable-content">
    <div class='list-group-item' ng-init="hideCategory = true">
      <div style='width: 100%; margin-right: 5%'>
        <a ng-click="hideCategory = !hideCategory">查看方式<i class="pull-right" ng-class="{'fa fa-angle-up': hideCategory, 'fa fa-angle-down': !hideCategory}"></i></a><br>
        </div>
        <div ng-class="{hidden: hideCategory}" class="topics">
          标签:<br>
          <a ng-repeat="category in categories" ng-click="postsInCategory(category.id,category.name)">
            {{category.name}}
          </a>
          <br> 人气:<br>
          <a>本周最火</a>
          <a>本月最火</a>
        </div>
        </div>
    <div class="topic_box">
      <div class="topics" ng-repeat="post in posts">
        <div class="topic topic_line" ng-click="show_post(post.id)">
          <img ng-src={{post.image.url}} class="avatar pull-left">
          <img ng-src={{post.fakeimage}} class="avatar pull-left">
          <div class="title">
            {{post.title}}
            <ul>
              <li ng-repeat="category in post.categories">
                {{category}}
              </li>
            </li>
          </div>
          <div class="title" style="padding: 10px;">
            <p> {{post.description}}</p>
            <p ng-if="!post.description"> {{post.content.slice(0,120)}}</p>
          </div>
         </div>
       </div>
     </div>
     <a ng-if=" total_posts.length > numberShow "ng-click="readMore()" class="btn btn-success btn-lg btn-block">Read More</a>
    </div>
   </div>
  </div>
</div>
