<% content_for :extra_head do %>
  <title>七联就职资讯-有态度的资讯，左右职业人生|七联就职</title>
<% end %>
<% unless params[:page] %>
  <div class="header-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 header-message">
              <h1>七联视界</h1>
              <hr>
              <h3><span class="slogan">
                有态度的资讯 左右职业人生</span>
            </h3>
         </div>
            <div class="down-arrow floating-arrow"><a href="#news"><i class="fa fa-angle-down"></i></a></div>
        </div>
    </div>
  </div>
<% end %>
<!-- Page Content -->
  <div class="container" id="news">
  <!-- Page Heading/Breadcrumbs -->
  
    <!-- Blog Entries Column -->
      <%= render partial: 'common/post_lists', locals: {posts: @posts, category: @category}%>
      <!-- main-right sidebar -->
      <%= render partial: 'common/side_posts', locals: {hot_posts: @hot_posts}%>
      <!-- /main-right sidebar -->

  </div>
  <!-- /.Row -->
<script>
    $(function(){
       // #で始まるアンカーをクリックした場合に処理
         $('a[href^=#]').click(function() {
            // スクロールの速度
            var speed = 600; // ミリ秒
            // アンカーの値取得
            var href= $(this).attr("href");
            // 移動先を取得
            var target = $(href == "#" || href == "" ? 'html' : href);
            // 移動先を数値で取得
            var position = target.offset().top;
            // スムーススクロール
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
         });
    });
    </script>

<script>
      $(function(){
          $(".slogan").typed({
              strings: ["有态度的资讯", "左右职业人生", "有态度的资讯, 左右职业人生"],
              loop: true,
              showCursor: true,
              typeSpeed: 300
            });
      });
</script>

