<% content_for :extra_head do %>
  <title>七联就职资讯-有态度的资讯，左右职业人生|七联就职</title>
<% end %>
<% unless params[:page] %>
<div class="header-banner-news">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-message">
	<h1>七联视界</h1>
	<h3><span class="slogan">
	  有态度的资讯 左右职业人生</span>
	</h3>
      </div>
      <!-- 搜索栏 + 进入文章 -->
      <!-- Search bar  -->
      <!-- 点击右侧的icon，跳转注册页面 -->
      <div class="col-md-8 col-md-offset-2 search">
	<div class="input-group input-group-lg">
	  <div class="input-group-btn">
	      <button type="submit" class="btn btn-success" onclick="doSearch()"><span><i class="fa fa-search"></i></span></button>
	  </div>
	  <input id="search-input" type="text" class="form-control" placeholder="查看就职资讯, 选考情报, 活动信息..." id="query" name="queriesy" value="">
	   <div class="input-group-btn">
	      <button type="submit" class="btn btn-danger" onclick="goLogin()" data-toggle="dropdown" aria-haspopup="true" air-expaned="false"><i class="fa fa-group"></i> 加入七联</button>
	   </div>               
	</div><!-- end of input-group -->
      </div><!-- end of search-bar -->
      <!-- down-arrow <span><i class="fa fa-th-list"></i></span> -->
      <div class="down-arrow floating-arrow"><a href="#news"><i class="fa fa-angle-down"></i></a></div>
    </div>
  </div>
</div><!-- end of header -->
<% end %>
<!-- Page Content -->
  <div class="container" id="news">
  <!-- Page Heading/Breadcrumbs -->
  
    <!-- Blog Entries Column -->
      <%= render partial: 'common/post_lists', locals: {posts: @posts, category: @category}%>
      <!-- main-right sidebar -->
      <%= render partial: 'common/side_posts', locals: {hot_posts: @hot_posts}%>
      <!-- /main-right sidebar -->

  </div>
  <!-- /.Row -->
<script>
    $(function(){
       // #で始まるアンカーをクリックした場合に処理
         $('a[href^=#]').click(function() {
            // スクロールの速度
            var speed = 600; // ミリ秒
            // アンカーの値取得
            var href= $(this).attr("href");
            // 移動先を取得
            var target = $(href == "#" || href == "" ? 'html' : href);
            // 移動先を数値で取得
            var position = target.offset().top;
            // スムーススクロール
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
         });
    });
    </script>

<script>
      $(function(){
          $(".slogan").typed({
              strings: ["有态度的资讯", "左右职业人生", "有态度的资讯, 左右职业人生"],
              loop: true,
              showCursor: true,
              typeSpeed: 300
            });
      });
</script>
<script>
  function doSearch(){
    query = "http://www.google.jp/search?q=site:qilian.info "+$("#search-input").val();
    window.open(query)
  }
  function goLogin(){
    window.open('/users/sign_in')
  }
</script>

