$('#newEx').modal('hide');
$('#newEx_form')[0].reset();
console.log('ok')
str = '<li><%=@ex.time_from%><b>から</b><%=@ex.time_to%><b>まで</b>&nbsp;&nbsp;&nbsp;<%=@ex.stuff%></li>'
$('#experiences').append(str);
