<!-- recommend_widget -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">七联公共课</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      course image
    </div>
    <div class="col-md-8">
      course content
    </div>
 </div>

