<h3>〆切一览</h3>
<div id="calendar"></div>
<script>
$(document).ready(function() {
      $('#calendar').fullCalendar({
        lang: 'zh-cn',
        events: <%==(Event.full_calendar_event+Job.full_calendar_event+Course.full_calendar_event).to_json%> 
      })
  });
</script>

