<p>尊敬的<%= @resource.email %>!</p>

<p>你发起了重置密码的请求，请点击下面链接进行重置密码。</p>

<p><%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你对此邮件毫无印象请直接无视。</p>
<p>除非你使用上面链接修改密码，你的密码将不会改变。</p>
