<div class="panel panel-warning">
  <div class="panel-heading">
    <span>七联书签</span>
  </div>
  <div class="panel-body">
    <ul class="collection-list">
      <li><i class="fa fa-star"></i><%=link_to "我的收藏", news_mylist_path %></li>
    </ul>
  </div>
</div>
