<footer class="footer-layout">
  <div class="container footer-container-layout">
    <div class="row">
      <div class="col-md-7">
        <div class="footer-links">
          <ul class="footer-group">
            <li><a href="http://qilian.jp/static/courses"  class="footer-sitemap">课程平台</a></li>
            <li><a href="http://www.qilian.jp/news" class="footer-sitemap">七联视界</a></li>
            <li><a href="http://blog.qilian.jp/blog/about/" class="footer-sitemap">关于我们</a></li>
            <li><a href="http://blog.qilian.jp" class="footer-sitemap">博客</a></li>
          </ul>
          <p style="color:white">Copyright © 2012-2016 七联 All Rights Reserved.
        </div>
      </div>

      <div class="col-md-4 col-md-offset-1">
        <p style="color:white">每一个你的远方，都是他人的故乡</p>
        <a href="https://www.facebook.com/qilian" class="facebook-share"><i class="fa fa-facebook"></i></a>
        <a href="http://weibo.com/naanren" class="weibo-share"><i class="fa fa-weibo"></i></a>
        <a href="" data-toggle="tooltip" class="weixin-share" data-placement="bottom" title="微信公共平台 :findjobinjapan" id="weChat"><i class="fa fa-weixin"></i></a>
      </div>
    </div>
  </div>
</footer>

<!-- <a href="http://qilian.jp/news/"  -->