<div class="list-group">
        <%=link_to "我的主页", mypage_path, class: "list-group-item"%>
        <%=link_to "完善用户信息", edit_user_path(current_user.id), class: "list-group-item"%>
        <a href="/mypage/courses" class="list-group-item">我的课程</a>
        <a href="/appointment/image" class="list-group-item">我的喜爱</a>
        <a href="/appointment/entry" class="list-group-item">修改密码</a>
</div>

