<div class="panel panel-primary job-news">
  <div class="panel-heading">
    就职动态
  </div>
  <div class="panel-body">
    <div id="divRss">
    </div>
  </div>
</div>
<script>
$('#divRss').FeedEk({
    FeedUrl : 'http://zasshi.news.yahoo.co.jp/rss/sjournal-all.xml',
    ShowDesc : false 
  });
</script>
