<div class="list-group">
        <%=link_to "我的主页", mypage_path, class: "list-group-item"%>
        <a href="/mypage/courses" class="list-group-item">我的课程</a>
        <%=link_to "我的简历", cv_path(current_user.cv), class: "list-group-item"%>
        <a href="#" class="list-group-item">重置密码</a>
</div>

