<div class="flexslider" style="margin:0px">
    <ul class="slides">
      <li>
        <a href="http://qilian.jp/news/297">  
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/news-detail_20151217_divergent.jpg">
        </a>
      </li>
      <li>
        <a href="http://qilian.jp/news/294">  
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/news-detail_20151208.jpg">
        </a>
      </li>
      <li>
        <a href="http://qilian.jp/news/198">  
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://www.qilian.jp/image/news-detail-image-20150821.jpg"></a>
      </li>
      <li>
        <a href="http://qilian.jp/news/286">  
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/banner_20151219_globalLeader.jpg"></a>
      </li>
      <li>
        <a href="http://qilian.jp/news/296">  
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/news-detail_20151209.jpg"></a>
      </li>
    </ul>
</div>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "fade",
      animationLoop: true,
      slideshow: true,
      keyboard: true,
      controlNav: false
    });
  });
</script>


