<div class="flexslider">
    <ul class="slides">
      <li>
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/news_detail_news.jpg">
      </li>
      <li>
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/banner-newsPage.jpg">
      </li>
      <li>
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/news_detail_20150919.jpg">
      </li>
      <li>
        <img class="img-responsive img-hover event-cover-style" alt="Responsive image" src="http://qilian.jp/image/news_detail_20151105_coverPage.jpg">
      </li>
    </ul>
 </div>
