<!-- Team Members -->
<div class="row">
  <div class="col-lg-12">
      <h2 class="page-header">七联讲师</h2>
    </div>
  <% User.teachers.each do |teacher|%>
    <div class="col-md-3 text-center">
      <div class="thumbnail">
        <%=image_tag(teacher.image, class: 'inbox img-circle', style: 'width: 120px; height: 120px')%>
        <div class="caption">
          <h3><%=teacher.name%><br>
              <small>大傻逼</small>
          </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
