<html ng-app="qilianCore" ng-controller="MainController">
  <head>
    <title ng-if="metadata.title">{{metadata.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta title="{{ metadata.title }}" ng-if="metadata.title" />
    <meta description="{{ metadata.description}}" ng-if="metadata.description" />
    <link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/assets/mobile_topic.css" />
    <link rel="stylesheet" href="/assets/mobile_framework.css" />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="/bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
    <%= javascript_include_tag "application_mobile" %>
    <%= csrf_meta_tags %>
    <base href="/">
</head>
<body>

  <!-- Sidebars -->
  <div class="sidebar sidebar-left"><!-- ... --></div>
  <div class="sidebar sidebar-right"><!-- ... --></div>

  <div>
    <div class="app">
      <!-- App body -->
          <ng-view></ng-view>
    </div><!-- ~ .app -->
  </div><!-- ~ .app -->

  <!-- Modals and Overlays -->
  <div ui-yield-to="modals"></div>
  <script src='/app/qilian_core.js'></script>
  <script src='/app/directive.js'></script>
  <script src='/app/services.js'></script>
</body>
</html>
